# DB congig
DB_HOST=db
DB_PORT=3306
DB_ROOT_PASSWORD=
DB_NAME=delivery_db
DB_USER=
DB_PASSWORD=

# URL for Prisma/TypeORM/etc
# mysql://user:password@db:3306/delivery_db
DATABASE_URL=

API_PORT=3000
NODE_ENV=development
